<launch>

  <arg name="speed" default="0.5" />        
  <arg name="turn" default="0.8" />      

  <node pkg="teleop_twist_keyboard"
        type="teleop_twist_keyboard.py"
        name="teleop_keyboard"
        output="screen">
    <remap from="cmd_vel" to="/cmd_vel" />
    <param name="speed" value="$(arg speed)" />
    <param name="turn" value="$(arg turn)" />
  </node>
</launch>